body {
  background-color: #AFC7D5
}
nav {
  list-style-type: none;
  background-color: #D3E2D3;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  font-family: Georgia;
}
li a:hover {
  color:#424861;
}
h1 {
  color: white;
  font size: 200%;
  backgound-color: n/a;
  letter-spacing: 2px;
  text-align: center;

}
h2 {
 font-family: Gerogia;
  color: white;
  font-size: 200%
}
h3 {
  font-family: Gerogia;
  color: white;
  font-size: 200%
}
h4 {
  font-family: Gerogia;
  color: white;
  text-decoration: none;
}
h5 {
  font-family: Gerogia;
  color: white;
  text-decoration: none;
}
h5 a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

h5 a:visited {
  color: #E1D4ED;
  background-color: transparent;
  text-decoration: underline;
}

h5 a:hover {
  color: #424861;
  background-color: transparent;
  text-decoration: underline;
}

h5 a:active {
  color: #F3CEE0;
  background-color: transparent;
  text-decoration: underline;
}
