body {
  background-color: #2A2E45
}
nav {
  list-style-type: none;
  background-color: #D3E2D3;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  font-family: Georgia;
}
li a:hover {
  color:#424861;
}
h1 {
  color: #DDDCF9;
  font size: 200%;
  backgound-color: n/a;
  letter-spacing: 2px;
  text-align: center;

}
